.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 15px 1px #bebebe; 
    box-shadow: 5px 5px 15px 1px #bebebe;
    margin: 30px 0;
}

.post-wrapper {
    padding: 10px;
}

.post-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post-top-left {
    display: flex;
    align-items: center;
}

.post-profile-img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.post-username {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.post-date {
    font-size: 12px;
}

